body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
p {
  color: #8f8f8f;
}

/* title section */
#title {
  background-color: #ff4c68;
  color: #fff;
}
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 4% 15%;
}

/* navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-right: 50%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* feature section */
#features {
  background-color: #fff;
  position: relative;
  padding-top: 80px;
}

/* title-image */
.title-img {
  position: absolute;
  width: 22%;
  right: 355px;
  top: 244px;
  transform: rotate(25deg);
}
.row {
  padding: 20px 100px;
}
.col-lg-4 {
  padding: 0 20px 50px;
  text-align: center;
}

.icon {
  font-size: 4rem;
  color: #ef8172;
  padding-bottom: 25px;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials section */
#testimonials {
  padding: 40px 200px 70px;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
}

/* press section */
#press {
  background-color: #ff4c68;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-indicators {
  margin: -50px;
}

/* pricing section */
#pricing {
  text-align: center;
  padding: 3% 2%;
}

.card-column {
  margin: 3% 2%;
}

/* cta section */
#cta {
  text-align: center;
  background-color: #ff4c68;
  height: 400px;
  color: #fff;
  padding: 100px 80px 0;
}
.cta-description {
  font-weight: 900;
  font-size: 3rem;
}
.button {
  margin: 50px 15px 0;
}

/* footer section */
#footer {
  margin: 100px 0;
  text-align: center;
}

.icon1 {
  margin: 0 15px 20px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
    width: 300px;
    padding: 40px 0 0;
  }
}
